{% assign title = page.title | url_encode %}
{% assign location = page.location | default: title %}
{% assign location = include.location | default: location %}
{% capture map_url %}https://maps.googleapis.com/maps/api/staticmap?key={{ site.google_api_key }}&scale=2&markers={{ location }}&size={% endcapture %}
<amp-img class="mt3 mx3" layout="responsive" width="300" height="300" alt="Mapa com o local e seu entorno" src="{{ map_url }}300x300" srcset="{{ map_url }}100x100 100w, {{ map_url }}240x240 240w, {{ map_url }}320x320 320w, {{ map_url }}500x500 500w, {{ map_url }}640x640 640w"></amp-img>
