<header class="portfolio-entry-header">										
    <a class="portfolio-featured-image" href="{{ include.href }}">
        <img width="1024" height="683" src="{{ include.id }}_{{ include.secret }}_b.jpg" class="attachment-large size-large wp-post-image" alt="{{ include.alt }}"
            srcset="{{ include.id }}_{{ include.secret }}.jpg 500w, {{ include.id }}_{{ include.secret }}_z.jpg 640w, {{ include.id }}_{{ include.secret }}_c.jpg 800w, {{ include.id }}_{{ include.secret }}_b.jpg 1024w, {{ include.id }}_{{ include.secret1600 }}_h.jpg 1600w, {{ include.id }}_{{ include.secret2048 }}_k.jpg 2048w" 
            sizes="(max-width: 1024px) 100vw, 1024px">
    </a>
    <h2 class="portfolio-entry-title"><a href="{{ include.href }}" title="{{ include.title }}">{{ include.title }}</a></h2>
</header>
