---
layout: default
title: SampaGuide - Um guia para explorar e “se perder” na cidade de São Paulo
location: sao+paulo
redirect_from: /
---
{% include googlemapsstatic.html %} 
{% assign regioes = site.regioes | sort: 'order' %}
{% for regiao in regioes %}
{% assign photo = site.data.flickr.photos[regiao.photo_id] %}
  <article>
    <header>
      <a href="{{ site.baseurl }}{{ regiao.url }}">
        <amp-img width=500 height={{ photo.height }} src="{{ photo.src }}" alt="{{ photo.alt }}" srcset="{{ photo.srcset }}" layout="responsive" class="mt3 mx3"></amp-img>
      </a>
      <h2 class="mx3"><a class="text-decoration-none" href="{{ site.baseurl }}{{ regiao.url }}">{{ regiao.title }}</a></h2>
    </header>
  </article>
{% endfor %}
