---
layout: default
---
<h1 class="entry-title">{{ page.title }}</h1>
{% include googlemapsembed.html pb=page.pb %} 
{{ content }}
<h2>Pontos de Interesse</h2>
<ul class="list-pages-shortcode child-pages">
    {% assign bairro = page.title | slugify %}
    {% assign lugares = site.lugares | where: 'bairro', bairro %}
    {% for lugar in lugares %}
    <li class="page_item"><a href="{{ site.baseurl }}{{ lugar.url }}">{{ lugar.title }}</a></li>
    {% endfor %}
</ul>
<div class="bibliographysection">
    <h2>Para Saber Mais</h2>
    <ul>
    {% for link in page.links %}
        <li><a title="{{ link.title }}" href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
    </ul>
</div>