---
layout: default
---
<h1 class="m3">{{ page.title }}</h1>
{% assign openingmap = page.openingmap | default: "show" %}
{% if openingmap == "show" %}
{% include googlemapsstatic.html %}
{% endif %}
{{ content }}
{% assign photos = site.data.flickr.places[page.title] %}
{% if photos %}
<h2 class="mx3 mt3">Galeria de Fotos</h2>
<amp-carousel type="slides" layout="responsive" width=500 height=500>
{% for photo_id in photos %}
{% assign photo = site.data.flickr.photos[photo_id] %}
    <amp-img class="m3" layout="responsive" width=500 height={{ photo.height }} src="{{ photo.src }}" srcset="{{ photo.srcset }}" alt="{{ photo.alt }}"></amp-img>
{% endfor %}
</amp-carousel>
{% endif %}
{% if page.panorama %}
<h2 class="m3">Panorama 360 graus</h2>
<amp-iframe width="300" height="300" src="https://www.google.com/maps/embed?pb={{ page.panorama }}" layout="responsive" sandbox="allow-scripts allow-same-origin allow-popups" frameborder="0" class="mt3 mx3"></amp-iframe>
{% endif %}
{% assign nearby = site.data.nearby[page.title] %}
{% if nearby %}
<h2 class="mx3 mt3">Lugares Próximos</h2>
<ul>{% for place in nearby %}{% assign lugar = site.lugares | where: "title", place | first%}{%if lugar %}
    <li><a href="{{ site.baseurl }}{{ lugar.url }}">{{ place }}</a></li>
{% endif %}{% endfor %}</ul>
{% endif %}
