---
layout: default
---
<h1 class="entry-title">{{ page.title }}</h1>
{% include googlemapsembed.html pb=page.pb %} 
{{ content }}
<div class="photospheresection">
<h2>Panorama 360 graus</h2>
<iframe width="300" height="150" src="https://www.google.com/maps/embed?pb={{ page.panorama }}" class="photosphere"></iframe>
</div>
{% if page.links %}
<h2>Para Saber Mais</h2>
<ul>
{% for link in page.links %}
    <li><a title="{{ link.title }}" href="{{ link.url }}">{{ link.title }}</a></li>
{% endfor %}
</ul>
{% endif %}