---
layout: default
---
<h1 class="m3">{{ page.title }}</h1>
{% include googlemapsembed.html pb=page.pb %} 
{{ content }}
{% if page.photoset %}
<h2 class="mx3 mt3">Galeria de Fotos</h2>
<amp-carousel type="slides" layout="responsive" width=500 height=500>
{% for photo in page.photoset.photos %}
{% capture photo_base_url %}https://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}{% endcapture %}
    <amp-img class="m3" layout="responsive" width=500 height={{ photo.height }} src="{{ photo_base_url }}.jpg" srcset="{{ photo_base_url }}_t.jpg 100w, {{ photo_base_url }}_m.jpg 240w, {{ photo_base_url }}_n.jpg 320w, {{ photo_base_url }}.jpg 500w, {{ photo_base_url }}_z.jpg 640w, {{ photo_base_url }}_c.jpg 800w, {{ photo_base_url }}_b.jpg 1024w" alt="{{ photo.description }}"></amp-img>
{% endfor %}
</amp-carousel>
{% endif %}
{% if page.panorama %}
<h2 class="m3">Panorama 360 graus</h2>
<amp-iframe width="300" height="300" src="https://www.google.com/maps/embed?pb={{ page.panorama }}" layout="responsive" sandbox="allow-scripts allow-same-origin allow-popups" frameborder="0" class="mt3 mx3"></amp-iframe>
{% endif %}
{% if page.links %}
<h2 class="m3">Para Saber Mais</h2>
<ul>
{% for link in page.links %}
    <li><a title="{{ link.title }}" href="{{ link.url }}">{{ link.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
