---
layout: default
---
<h1 class="mx3 my3">{{ page.title }}</h1>
{% assign slug = page.title | slugify %}
{% assign folders = site.bairros | where: 'regiao', slug %}
{% for folder in folders %}
<article>
<header>
    <a href="{{ site.baseurl }}{{ folder.url }}">
        <amp-img class="mt3 mx3" layout="responsive" width="1024" height="683" src="{{ folder.flickr_id }}_{{ folder.secret }}_b.jpg" alt="{{ folder.title }}"
            srcset="{{ folder.flickr_id }}_{{ folder.secret }}.jpg 500w, {{ folder.flickr_id }}_{{ folder.secret }}_z.jpg 640w, {{ folder.flickr_id }}_{{ folder.secret }}_c.jpg 800w, {{ folder.flickr_id }}_{{ folder.secret }}_b.jpg 1024w, {{ folder.flickr_id }}_{{ folder.secret1600 }}_h.jpg 1600w, {{ folder.flickr_id }}_{{ folder.secret2048 }}_k.jpg 2048w"></amp-img>
    </a>
    <h2 class="mx3"><a class="text-decoration-none" href="{{ site.baseurl }}{{ folder.url }}" title="{{ folder.title }}">{{ folder.title }}</a></h2>
</header>
</article>
{% endfor %}