---
layout: default
---
<h1 class="mx3 my3">{{ page.title }}</h1>
{% assign slug = page.title | slugify %}
{% assign bairros = site.bairros | where: 'regiao', slug %}
{% for bairro in bairros %}
{% assign photo = site.data.flickr.photos[bairro.photo_id] %}
<article>
<header>
    <a href="{{ site.baseurl }}{{ bairro.url }}">
        <amp-img width=500 height={{ photo.height }} src="{{ photo.src }}" alt="{{ photo.alt }}" srcset="{{ photo.srcset }}" layout="responsive" class="mt3 mx3"></amp-img>
    </a>
    <h2 class="mx3"><a class="text-decoration-none" href="{{ site.baseurl }}{{ bairro.url }}">{{ bairro.title }}</a></h2>
</header>
</article>
{% endfor %}